source ~/.alias_groups/common-aliases
source ~/.alias_groups/common-aliases-eza-fix
source ~/.alias_groups/git
source ~/.alias_groups/git-on-roids

alias cat=batcat
alias k=kubectl
alias lv=nvim
alias p=pulumi
alias y=yadm
alias python=python3

# Drata fix on 24.04
alias drata-agent="/opt/Drata\ Agent/drata-agent --no-sandbox"
