source ~/.alias_groups/common-aliases
source ~/.alias_groups/common-aliases-eza-fix
source ~/.alias_groups/git
source ~/.alias_groups/git-on-roids

alias cat=batcat
alias k=kubectl
alias lv=nvim
alias p=pulumi
alias y=yadm
