[alias]
    bd = !"git branch -D"
    br = branch
    ci = commit
    co = checkout
    f = fetch
    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    lg2 = !"git lg2-specific --all"
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3 = !"git lg3-specific --all"
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
    mwps = push -o merge_request.create -o merge_request.target=master -o merge_request.merge_when_pipeline_succeeds
    mrc = "!f() { \
      set -x; \
      MSG=\"$(git show --format='%s' --no-patch)\"; \
      git push "$@" \
        -o merge_request.create \
        -o merge_request.target=master \
        -o merge_request.title=\"$MSG\"; \
    }; f"
    prc = "!f() { \
      set -x; \
      TITLE=\"$(git show --format='%s' --no-patch)\"; \
      BODY=\"$(git show --format='%b' --no-patch)\"; \
      git push -u origin HEAD && \
      gh pr create --title \"$TITLE\" --body \"$BODY\" --base master --assignee @me; \
    }; f"
    st = status
	gone = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -p -I {} git branch -D {}

[color]
	ui = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = true

[push]
  autoSetupRemote = true

[user]
	name = Glenn Roberts
	email = me@glenn-roberts.com

[push]
	autoSetupRemote = true
[credential]
	helper = store
