*
!.*
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash/
.bash_history
.bash_profile
.gitconfig
.guard_history
.gvimrc
.gvimrcimrc.old
.lesshst
.mysql_history
.netrc
.oh-my-zsh/
.vim.old/oh
.vim/
.viminfo
.vimrc
.zcompdump
.zsh-update
.zsh_history
